@import "tailwindcss"; 

.hero-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
}

.hero-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
}

.hero-content {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
}

.hero-subtitle {
    margin-top: 16px;
    font-size: 1.2rem;
}

.hero-btn {
    margin-top: 24px;
    padding: 12px 24px;

    border: none;
    border-radius: 8px;

    background-color: #4f46e5;
    color: white;

    cursor: pointer;
}

.hero-btn:hover {
    background-color: #4338ca;
}